.user__chats{
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 10px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 17px;
    outline: none;

    > img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 10px;
    }
}



.user__info{
    display: flex;
    flex-direction: column;
}

#lastMessage{
    font-size: 12px;
    overflow-wrap: break-word;
    width: 260px;
    
}

@media only screen and (max-width: 600px){
    #title__chats{
        display: none;
    }
    #lastMessage{
        display: none;
    }
}