.home{
    display: flex;
    height: 100%;
}

@media only screen and (max-width: 1400px){
    .home{
        margin: 20px;
    }
}

@media only screen and (max-width: 1000px){
    .home{
        margin: 20px;
    }
}

@media only screen and (max-width: 650px){
    .home{
        margin: 0;
    }
}

@media only screen and (max-width: 450px){
    
}