.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    > img{
        flex: 5;
        max-width: 300px;
        margin-right: 40px;
    }
}


.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    > p {
        color: #0d9ee7;
        > a{
            color: #0d9ee7;
            text-decoration: none
        }
    }

    > .form__title{
        font-size: 20px;
    }

    > form {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 0 10px;

        > input {
            margin: 10px 0;
            outline: none;
            background-color: white;
            border-radius: 5px;
            color: black;
            border: 2px solid whitesmoke;
            padding: 10px;
        }

        > label {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            cursor: pointer;
        }

        > button {
            background-color: #0d9ee7;
            padding: 10px;
            margin: 10px 100px;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            color: white;
            font-weight: bold;
        }
    }
}


@media only screen and (max-width: 650px) {
    .container{
        flex-direction: column;
        overflow: hidden;

        > img {
            flex: 2;
            max-height: 300px;
            margin: 0;
        }

        > .form__container{
            padding: 20px 0;
        }
    }
}

@media only screen and (max-width: 350px) {
    .container{
        > img {
            width: 200px;
        }

        > .form__container{
            width: 200px;

            > form {
                width: 180px;

                > button{
                    margin: 0 10px;
                }
            }

            > p {
                font-size: 10px;
                padding-top: 10px;
            }
        }
    }
}