.sidebar__home{
    position: relative;
    flex: 1;
    background-color: White;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    height: 85vh;
    border: 1px solid black;
}

.header__sidebar{
    position: absolute;
    border-top-left-radius: 10px;
    overflow: hidden;
    background-color: #384259;
    height: 50px;
    width: 100%;
    padding: 10px 0 10px;
    color: white;
}

.chats__container{
    position: absolute;
    top: 15%;
    margin-top: 5px;
}

.user__information{
    display: flex;
    align-items: center;

    > img{
        height: 30px;
        margin: 10px;
        border-radius: 50%;
        object-fit: cover;
    }

    > button {
        position: absolute;
        right: 10px;
        border: none;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
    }
}

.search__input{
    position: absolute;
    top: 12%;
    width: 90%;

    > input {
        width: 100%;
        margin: 0 10px;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0) ;
        outline: none;
    }
}

.chats__container{
    width: 100%;
    height: 72vh;
    overflow: scroll;
}

.chats__container::-webkit-scrollbar{
    display: none;
}