.sidebar__home{
    position: relative;
    flex: 1;
    background-color: whitesmoke;
    height: 100vh;
}

.header__sidebar{
    position: absolute;
    overflow: hidden;
    background-color: #0d9ee7;
    height: 50px;
    width: 100%;
    padding: 10px 0 10px;
    color: white;
    z-index: 999;
    display: flex;
}

.content__container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    width: 100%;
    overflow: scroll;
}

.content__container::-webkit-scrollbar{
    display: none;
}

.container__sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 12px;
    max-width: 100%;
}

.search__result{
    width: 100%;
}

.userChat{
    display: flex;
    padding: 15px;
    cursor: pointer;

    > img {
        height: 50px;
        width: 60px;
        border-radius: 50%;
        margin-right: 10px ;
    }

}

.userChatInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.user__information{
    display: flex;
    align-items: center;

    > img{
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }

    > svg {
        position: absolute;
        right: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
    }
}

.search__input{
    display: flex;
    align-items: center;
    width: 90%;
    gap: 10px;
    > svg {
        color: gray;
    }
    > input {
        border: none;
        outline: none;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
    }
}

.chats__container{
    max-height: calc(100vh - 130px);
}

// .chats__container::-webkit-scrollbar{
//     display: none;
// }

@media only screen and (max-width: 650px){
    .sidebar__home{
        height: 100vh;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .header__sidebar{
        border-radius: 0;
    }
    .chats__container{
        height: 100%;
    }
}

@media only screen and (max-width: 600px){
    .header__sidebar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chats__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user__information{
        width: 100%;
        > img {
            display: none;
        }

        > span {
            display: none;
        } 

        > button {
            position: static;
            width: 100%;
            margin: 10px;
        }
    }
}


@media only screen and (max-width: 500px){
    .search__input{
        display: none;
    }

    .chats__container{
        top: 7%;
    }
}

